.outer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:not(.is-open){
    pointer-events: none;
  }
}

.shadow{
  position: absolute; /* si ancora solo a elementi [relative/fixed/absolute] */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0, .4);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center center;
  padding: 3rem;
  background: #fff;
  transition: all .3s;
  width: min(80vw, 15rem);
  max-height: 80vh;
}
