<form (submit)="submit($event)">
  <input
  type="text"
  class="form-control"
  id="name"
  autocomplete="off"
  name="name"
  [formControl]="model.name"
/>
<div *ngIf="model.name.errors">
  <div *ngIf="model.name.errors['minlength'] as error">
    Inserisci almeno altri {{error.requiredLength - error.actualLength}}
    caratteri per rimuovere l'errore
  </div>
</div>

<div>{{nameToUpperCase$|async}}</div>
{{model.name.touched|json}}
<div>TODO: remove this: {{ model.name.errors | json }}</div>
</form>
