header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

li.menu-item {
    display: block;
}
