<header class="header">

  {{blogService.dato$|async|json}} - <button (click)="blogService.dato$.next(0)">reset</button>

  <div class="container">
    <div class="wrapper">

      <div class="logo"
           (click)="logoClicked.emit('Ciao')">
        <img src="assets/angular.svg"
            width="100"
            alt="Angular logo" />
      </div>

      <nav class="nav">
        <ul *ngIf="navItems && navItems.length > 0"
            class="nav-list">
          <app-nav-item *ngFor="let item of navItems"
                        [item]="item"
          ></app-nav-item>
        </ul>
      </nav>

    </div>
  </div>
</header>
