.wrapper{
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo{
  img{
    aspect-ratio: 1/1;
    width: 3rem;
  }
}

.nav{
  &-list{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
}

::ng-deep .nav-item{
  display: inline-block;
}
