.category{
  &-button{
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: .4rem .6rem;

    &:disabled{
      color: inherit;
      opacity: .6;
    }

    &:not(:disabled){
      &:after{
        content: " ↥";
      }
      &.is-open:after{
        content: " ↧";
      }
    }
  }

  &-label{

  }

  &-list{
    margin: 0;
    padding: 0 0 0 .5rem;
  }
}
