article{
  border-bottom: 1px dashed;
  font-size: .8rem;
  margin: 0 0 1rem;
  padding: .5rem 0;
  text-align: left;

  h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;
  }

  time, a{
    font-weight: 300;
  }
}
